{% assign current = page.url | downcase | split: '/' %}
{% assign researchDropdownClass = '' %}
{% if current[1] == 'research' %}{% assign researchDropdownClass = 'page-scroll' %}{% endif %}
  
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/"><p class="navbar-brand-heading">{{site.title}}</p><p><small>University of California, Santa Barbara</small></p></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="{{site.baseurl}}/" class="{{current}}"></a>
                </li>
                <li {% if current[1] == 'bio' %}class='active'{% endif %}>
                    <a href="{{site.baseurl}}/bio/">Bio</a>
                </li>
                <li {% if current[1] == 'people' %}class='active'{% endif %}>
                    <a href="{{site.baseurl}}/people/">People</a>
                </li>
                <li class="dropdown {% if current[1] == 'research' %}active{% endif %}">
                  <a href="{{site.baseurl}}/research/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% if current[1] != 'research' %}{{site.baseurl}}/research{% endif %}#research-high-temp" class={{researchDropdownClass}}>High Temperature Ceramics</a></li>
                    <li><a href="{% if current[1] != 'research' %}{{site.baseurl}}/research{% endif %}#research-arch-mats" class={{researchDropdownClass}}>Architectured Materials</a></li>
                    <li><a href="{% if current[1] != 'research' %}{{site.baseurl}}/research{% endif %}#research-threat-protection" class={{researchDropdownClass}}>Materials for Threat Protection</a></li>
                  </ul>
                </li>
                <li {% if current[1] == 'publications' %}class='active'{% endif %}>
                    <a href="{{site.baseurl}}/publications/">Publications</a>
                </li>
                <li {% if current[1] == 'contact' %}class='active'{% endif %}>
                    <a href="{{site.baseurl}}/contact/">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
