{% assign current = page.url | downcase | split: '/' %}
  
   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{{site.baseurl}}/" class="{{current}}"></a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/" {% if current[1] == '' %}class='active'{% endif %}>Home</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/bio/" {% if current[1] == 'bio' %}class='active'{% endif %}>PI Bio</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/people/" {% if current[1] == 'people' %}class='active'{% endif %}>People</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/research/" {% if current[1] == 'research' %}class='active'{% endif %}>Research</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/publications/" {% if current[1] == 'publications' %}class='active'{% endif %}>Publications</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/contact/" {% if current[1] == 'contact' %}class='active'{% endif %}>Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>