<div class="container" id="research-high-temp">
    <h3>High Temperature Ceramics: SiC/SiC, C/SiC, Oxide/Oxide and Protective Coatings</h3>
    <p>Fiber-reinforced ceramic composites are on the verge of revolutionizing energy and propulsion technologies. SiC/SiC composites will be flying in commercial aircraft engines within the next year and aggressive plans are being hatched by engine OEMs in the US and abroad to use these composites in turbine vanes and blades. The payoffs in engine efficiency – resulting from lower density and higher temperature capabilities of SiC/SiC relative to superalloys – will be enormous. Larger-scale engine nozzle components will soon be made out of all-oxide ceramic composites. And C-fiber SiC-matrix composites for use in ultrahigh temperature applications in hypersonic flight vehicles are actively being developed.</p>
    <p> Research in our group addresses the critical materials challenges of high-temperature fiber-reinforced ceramic composites. Research thrusts embrace all aspects of materials technology, including design, synthesis, processing, characterization and modeling of composites, their constituents and protective coatings. The work has been supported through alliances with OEMs and by numerous government agencies, including ONR, AFRL, AFOSR and NASA.</p>
    <p>Check out some of our <a href="#recent-publications-high-temp" class="page-scroll">recent publications</a> to get a flavor of the research projects.</p>
    <div class="row">
        <div class="col-md-6">
            <img src="{{site.baseurl}}/assets/img/research/high-temp/full-stitch.jpg" alt="Photo of alumina cracking" class="img-responsive center-block">
            <div class="caption">
                <p>Surface topography at various length scales of one face of a partially-processed 3D C/SiC composite. Such measurements are used to characterize in-plane weave variability in textile composites.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{site.baseurl}}/assets/img/research/high-temp/dic-response.jpg" alt="Response from Digital Image Correlation (DIC)" class="img-responsive center-block">
            <div class="caption">
                <p>Full-field strain maps in a 2D woven SiC/SiC composite during tensile testing. Locations of tow boundaries in the surface ply are indicated by the white lines.</p>
            </div>
        </div>
    </div>
    <div id="recent-publications-high-temp" class="recent-publications">
    <h4>Recent publications</h4>
    {% for publication in site.data.publications-high-temp %}
        <p>{{publication.data}}</p>
    {% endfor %}
    </div>
</div>
