<div class="container" id="welcome">
    <div class="welcome-banner">
        <h2 class="welcome-banner-heading">Welcome</h2>
        <p>Welcome to the Zok Research Group. Our research addresses issues in design, synthesis and properties of advanced thermostructural materials and systems. Current activities focus on high-temperature ceramic composites for use in future propulsion systems in aircraft engines and in hypersonic flight vehicles, protection systems for mitigating blast and ballistic threats, and lightweight lattice structures with high specific strength and high straining capability. The research combines experiments with theory and numerical simulation.</p>
    </div>
    <div class="container">
        <div class="row">
        {% for post in site.data.welcome-grid %}
          <div class="col-sm-4">
               <div class="welcome-item center-block">
                    <h3 class="welcome-title">{{post.title}}</h3>
                    <a href="{{site.baseurl}}/{{post.href}}/" class="welcome-link">
                        <img src="{{site.baseurl}}/assets/img/welcome/{{post.image}}" class="img-responsive" alt="{{post.title}}">
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
