---
---
$brand-primary: #{{site.color.primary}};
$brand-secondary: #{{site.color.secondary}};
$font-family-sans-serif:  "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-heading: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-height: 60px;

@import "bootstrap";
@import "bootstrap/mixins";

@mixin border-bottom($color) {
    border-bottom: 1px solid $color;
}

body {
    margin-top: 50px;
}

/*
********* Navbar *********
*/

.navbar-brand {
    text-align: center;
    padding: 5px 5px 5px 10px;

    .navbar-brand-heading {
        font-family: $font-family-sans-serif-heading;
        padding-bottom: 2px;
        margin: 2px;
        @include border-bottom($brand-primary);
    }
}
 

/*
********* Welcome *********
*/
#welcome {
    .welcome-banner {
        @include make-lg-column(12);
        margin-bottom: 25px;

        .welcome-banner-heading {
            font-family: $font-family-sans-serif-heading;
            text-align: center;
            padding-bottom: 5px;
            @include border-bottom($brand-primary);
        }
    }

    .welcome-item {
        max-width: 350px;
        text-align: center;

        .welcome-title {
            font-family: $font-family-sans-serif-heading;
            margin: 10px;
            padding-bottom: 5px;
            @include border-bottom($brand-secondary);
        }
    }
}

/*
********* Bio *********
*/

#bio {
    .panel {
        border: none;
    }

    .thumbnail {
        margin-top: 25px;
        max-width: 250px;
    }
    
    .bio-heading {
        @include border-bottom($brand-primary);
    }
}

/*
********* People *********
*/
#people {
    .panel {
        border: none;
    }

    .panel-body {
        min-height: 250px;
        max-height: 250px;
    }

    .thumbnail {
        margin-top: 10px;
        max-width: 150px;
    }

    .person-name {
        padding-bottom: 5px;
        @include border-bottom($brand-primary);
    }
}

/*
********* Research *********
*/
#research {
    .container {
        padding-top: 40px;
    }

    .research-heading {
        font-family: $font-family-sans-serif-heading;        
    }
    
    .row {
        margin-top: 2 * $line-height-computed;
    }

    .recent-publications {
        margin-top: $line-height-computed;
    }

    img,video {
        max-height: 300px;
    }

    #research-threat-protection img,video {
        max-height: 250px;
    }

    #research-arch-mats img {
        max-height: 180px;
    }
}

/*
********* Publications *********
*/
#publications {
    .publications-header {
        margin-bottom: $line-height-computed;
    }
}

/*
********* Contact *********
*/

#contact {
    .campus-map {
        max-height: 300px;
    }
}

/*
********* Footer *********
*/
#footer {
    margin-top: 25px;
}